@model CreativeCollab_yj_sy.Models.ViewModels.RestaurantsDestinations
@{
    ViewBag.Title = "New";
}

<h2 style="margin-bottom:32px;">Create Journey</h2>
<form action="/Journey/Create" method="POST">
    <div class="mb-2">
        <label style="display: block; margin-bottom: 8px; font-weight: bold;">Name:</label> <input type="text" name="JourneyName" />
    </div>
    <div class="mb-2">
        <label style="display: block; margin-bottom: 8px; font-weight: bold;">Description:</label> <textarea name="JourneyDescription"></textarea>
    </div>
    <div class="mb-2">
        <h4>Select the Restaurants to connect.</h4>
        @foreach (var restaurant in Model.RestaurantList)
        {
            <div>
                <label>
                    <input type="checkbox" name="RestaurantIds" value="@restaurant.RestaurantID" />
                    @restaurant.RestaurantName
                </label>
            </div>
        }
    </div>
    <div class="mb-5">
        <h4>Select the Destinations to connect.</h4>
        @foreach (var destination in Model.DestinationList)
        {
            <div>
                <label>
                    <input type="checkbox" name="DestinationIds" value="@destination.DestinationID" />
                    @destination.DestinationName
                </label>
            </div>
        }
    </div>
    <div>
        <input class="btn btn-light border border-1" type="submit" value="Create Journey" />
    </div>
</form>